# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

MONGO_URI="mongodb+srv://pundhiraditya428_db_user:3i6d7gWrYcLMNOgN@cluster5.ekkdi8j.mongodb.net/task_Manager"
JWT_SECRET="hiiTaskadi"
NODE_ENV="Production"
